<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    </head>
    <p><a href="/">Home page</a></p>    
    <body>
        Ever wonder which sports betting website has the best odds for you? Well thats where Sports Betting comes in! <br>
        Have you recently lost a bet on a sports betting sight and then said to yourself if only I had better odds? Well thats where Sports Betting comes in! <br>
        Stop betting blindly on some random sports betting website and take matters into your own hands with Sports Betting! <br>
        <br>
    </body>
</html>