<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div class="title">
        <h1>Sports Betting</h1>
      </div>
    </div>
    
    <p><a href="/">Home page</a></p>

    <form method="POST" action="/debugging">
      <p>Query: <input type="text" name="query"> <input type="submit" value="Add"></p>
    </form>
    <table>
      <tr>
      {% for y in data%}
        <th>DATA</th>
      {% endfor %}
      </tr>
      {% for n in data %}
      <tr>
          <td>{{n}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
