<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    </head> 
    <body>
        <div id="header">
            <div class="title">
              <h1>Sports Betting</h1>
            </div>
        </div>
        <br>
        <form action="/eventodds" method="POST">
            <label for="team">Team:</label>
            <select name="team" id="team">
                <option value=None></option>
                {% for i in teams %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <label for="league">Leagues:</label>
            <select name="league" id="league">
                <option value=None></option>
                {% for i in leagues %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <label for="league">Players:</label>
            <select name="player" id="player">
                <option value=None></option>
                {% for i in players %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <label for="Date">Date:</label>
            <input type="date" id="date" name="date">
            <input type="submit" value="Submit">
            <element class="button"> <a href="/historicalaccuracy?data={{ids}}">Get Historical Accuracy</a></element>
        </form>
        <br>    
        <table>
            <tr>
                <th>Name</th>
                <th>Date</th>
            </tr>
            {% for n in events %}
            <tr>
                <td><a href="/event?data={{n[0]}}">{{n[1]}}</a></td>
                <td>{{n[2]}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <div class="menu">
            <div class="title"> Quick Links </div>
            <p><a href="/">Home</a></p>
            <p><a href="/debugging">Debugging</a></p>
        </div>
    </body>
</html>