<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    </head> 
    <body>
        <div id="header">
            <div class="title">
              <h1>Sports Betting</h1>
            </div>
        </div>
        <br>
        <form action="/eventodds" method="POST">
            <label for="team">Team:</label>
            <select name="team" id="team">
                <option value=""></option>
                {% for i in teams %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <label for="league">Leagues:</label>
            <select name="league" id="league">
                <option value=""></option>
                {% for i in leagues %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <label for="league">Players:</label>
            <select name="player" id="player">
                <option value=""></option>
                {% for i in players %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>
        <p>{{events}}</p>
        <p><a href="/">Home page</a></p> 
    </body>
</html>