<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    </head>  
    <body>
        <div id="header">
            <div class="title">
              <h1>Sports Betting</h1>
            </div>
        </div>
        <br>
        <div class="title">Historical Accuracy by Oddsmaker in MAE</div>
        <br>
        <table>
            <tr>
                <th>Oddsmaker</th>
                <th>MAE</th>
            </tr>
            {% for n in events %}
            <tr>
                <td>{{n[0]}}</td>
                <td>{{n[1]}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <div class="menu">
            <div class="title"> Quick Links </div>
            <p><a href="/">Home</a></p>
            <p><a href="/debugging">Debugging</a></p>
            <p><a href="/eventodds">Get Event Odds</a></p>
        </div>
    </body>
</html>