<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
  </head>
  

  <body>
    <div id="header">
      <div class="title">
        <h1>Sports Betting</h1>
      </div>
    </div>
    <p></p>
    <div class="welcomemessage">  
      Have you recently lost a bet on a sports betting sight and then said to yourself if only I had better odds? Or maybe thought to youreself
      that you were betting with the wrong site? <br> Well thats where Sports Betting comes in!
      Stop betting blindly on some random sports betting website and take matters into your own hands with Sports Betting! 
      The place for you to get all information relevant to sports betting. So you can make the best possible bets and not lose all your money!
      <br>Below is a menu with some useful links to get around the site. <br>
      To select which events you would like to see the odds for hit Get Event Odds below. <br><br><br>
      Have fun and remember to gamble responsibly!
      - Judah and Ryan<br><br>
    </div>
    <br>
    <div class="menu">
      <div class="title"> Quick Links </div>
      <p><a href="/debugging">Debugging</a></p>
      <p><a href="/eventodds">Get Event Odds</a></p>
    </div>
    <br><br>
    Do you have a gambling problem? <br> Get Help. 
    Contact your local Problem Gambling Resource Center to receive support,
    information and/or be connected with a problem gambling provider in your 
    community. Call the free, confidential NYS HOPELINE - 1-877-8-HOPENY or text 
    HOPENY (467369) for help, and referrals to treatment.
  </body>


</html>
