<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    </head>  
    <body>
        <div id="header">
            <div class="title">
              <h1>Sports Betting</h1>
            </div>
        </div>
        <br>
        <element class="info"> Team Info</element>
        <br>
        <element class="welcomemessage">Team Name: {{info[0][0]}} {{info[0][1]}}</element>
        <br>
        <element class="welcomemessage">Location: {{info[0][1]}}</element>
        <br>
        <element class="welcomemessage">Current Season: {{info[0][2]}} </element>
        <br>
        <element class="welcomemessage">Record: {{info[0][3]}}-{{info[0][4]}} </element>
        <br>
        <element class="welcomemessage">Manager/Coach: {{info[0][5]}} </element>
        <br>
        <element class="welcomemessage">Description: {{info[0][6]}} </element>
        <br>
        <br>
        <div class="menu">
            <div class="title"> Quick Links </div>
            <p><a href="/">Home</a></p>
            <p><a href="/debugging">Debugging</a></p>
            <p><a href="/eventodds">Get Event Odds</a></p>
        </div>
    </body>
</html>